- var prevId = tabs.indexOf(tab_focus) - 1;
- var nextId = tabs.indexOf(tab_focus) + 1;
- var prev = tabs[prevId];
- var next = tabs[nextId];
mixin render(val, layNum)
  section(class=`${val.space ? 'layout-space-norm' : ''}`)
    if val.tile
      section.tile.tile-small
        section.tile-image
          load-img.tile-img(src=getVersionedPath(val.tile.src) alt=val.tile.alt)
        footer.tile-footer
          h2.tile-title= val.tile.title
    else
      section.layout-padding-vert-small.layout-padding-horz
        section.layout-contain-small
          if val.title
            section.layout-padding-vert-top
              h5.color-blue-light.layer-title= val.title
          if val.details
            section.layout-padding-vert-small
              span.layer-content-txt= val.details        
          if val.img
            section.layout-padding-vert
              load-img.layer-img(src=getVersionedPath(val.img.src) alt=val.img.alt)
        
section.layer-content
  section.layer-hero
    load-img.layer-hero-img(src=getVersionedPath(hero.src) alt=hero.alt)
    span.layer-hero-img-txt= title
  section.layer-shade
  section.layer-block.layout-padding-horz-small.layout-padding-vert-large-bottom
    article.layout-contain
      each layer, layNum in content.layers
        section.layer.layer-white.style-shadow1.layout-padding-vert-bottom.layout-margin-vert-large-top
            each val in layer 
              +render(val, layNum)
    
    article.layout-contain
      if footbar
        section.footbar.layout-margin-vert.layout-clearfix
          section.footbar-link.footbar-link-left.layout-clearfix
            if prevId >= 0 
              a.icon-btn-box.layout-clearfix(href=`/${prev.replace(/\s/g, "-").replace(/\&/g, "and").toLowerCase()}` title='Previous Article')
                i.icon-btn.material-icons.footbar-icon chevron_left
                span.footbar-txt.footer-space-left= prev
                
          section.footbar-link.footbar-link-right.layout-clearfix
            if nextId < tabs.length
              a.icon-btn-box.layout-clearfix(href=`/${next.replace(/\s/g, "-").replace(/\&/g, "and").toLowerCase()}` title='Next Article')
                span.footbar-txt.footer-space-right= next
                i.icon-btn.material-icons.footbar-icon chevron_right