extends template/layout

block content
  section.layer-content
    section.layer-hero
      load-img.layer-hero-img(src=getVersionedPath(hero.src) alt=hero.alt)
      span.layer-hero-img-txt= title
    section.layer-shade
    section.layer-block.layout-padding-horz-small.layout-padding-vert-large-bottom
      article.layout-contain
        section.layer.layer-white.style-shadow1.layout-padding-vert-bottom
          section.tile.tile-small
            section.tile-image
              load-img.tile-img(src=getVersionedPath("/images/stars3.jpg") alt="An image of stars.")
            footer.tile-footer.card-img-txt
              h2.tile-title Creator
          section.layout-padding-vert-small
            section.layout-padding-horz
              section.layout-padding-vert-top
                h5.layer-title Created By:
                  span.color-blue-light= ` Okiki Ojo`
                h5.layer-title Teacher:
                  span.color-blue-light= ` Ms. Cordiero`
                h5.layer-title Class Code:
                  span.color-blue-light= ` SNCPD1`
                h5.layer-title Date:
                  span.color-blue-light= ` June 4th, 2018.`
                  
        section.layer.layout-padding-vert-bottom.layout-margin-vert-top
          section.layout-row
            sections.layout-col-6.layout-margin-vert-bottom
              section.card.card-float.card-hover
                sction.card-main
                  section.card-image
                    load-img.card-img(src=getVersionedPath('/images/windmill1.jpg') alt='An Image of a windmill.')
                    section.card-img-txt
                      h3 About
                section.card-content
                  p Leukemia is a cancer of the the blood that is often genetic in nature, that is often hard to recover from.
                  a.layout-margin-vert-top-small.color-blue(href='/about') More ...
            sections.layout-col-6.layout-margin-vert-bottom
              section.card.card-float.card-hover
                sction.card-main
                  section.card-image
                    load-img.card-img(src=getVersionedPath('/images/city4.jpg') alt='An Image of a city.')
                    section.card-img-txt
                      h3 Health Policies & Tech
                section.card-content
                  p Symtoms of Leukemia are very similar to flu often make it hard to diagnose.
                  a.layout-margin-vert-top-small.color-blue(href='/health-policies-and-tech') More ...
                  
          section.layout-row.layout-padding-vert-bottom
            sections.layout-col-12
              section.card.card-float.card-hover
                sction.card-main
                  section.card-image
                    load-img.card-img(src=getVersionedPath('/images/city2.jpg') alt='An Image of a city.')
                    section.card-img-txt
                      h3 Connections
                section.card-content
                  p= `Physics, Chemistry have alot in common with Leukemia. For example, Leukemia is diagnosed using x-rays, and a toxic chemical (benzene), alot learned of this I learned from class.` 
                  a.layout-margin-vert-top-small.color-blue(href='/connections') More ...
                  
          section.layout-row
            sections.layout-col-12
              section.card.card-float.card-hover
                sction.card-main
                  section.card-image
                    load-img.card-img(src=getVersionedPath('/images/windmill3.jpg') alt='An Image of a windmills.')
                    section.card-img-txt
                      h3 References
                section.card-content
                  p All the sources of information used on this site.
                  a.layout-margin-vert-top-small.color-blue(href='/references') More ...