doctype html
html(lang="en" manifest='/app.cache')
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="max-age=30 days")
    meta(charset='UTF-8')
    
    link(rel='stylesheet' async href=getVersionedPath('/fonts/fonts.min.css'))
    link(rel='stylesheet' href=getVersionedPath('/css/main.min.css'))
    
    title= title
    
    meta(content="website" property="og:type")
    meta(content="Science" property="og:title")
    meta(content="A website containing Science projects. It's is one of a series of websites built by Okiki Ojo for school subjects." property="og:description")
    meta(name="description" content="A website containing Science projects. It's is one of a series of websites built by Okiki Ojo for school subjects.")
    meta(name="keywords" content="Science, App, Projects, Okiki, Ojo")   
    meta(name="copyright" content="Copyright &copy; 2018 Okiki Ojo, Under a GNU Licence.")
    meta(name="author" content="Okiki Ojo")
    
    link(rel="manifest" href=getVersionedPath("./manifest.json"))
    meta(name='theme-color' content='#3B4BE6')
    meta(name='msapplication-navbutton-color' content='#3B4BE6')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='#3B4BE6')
    
    <!--[if IE]-->
      link(rel='shortcut icon' href='./images/logo/science.ico')
    <!--<![endif]-->
    
    link(rel='icon' sizes='57x57' type='image/png' href=getVersionedPath('/images/logo/science.png'))
    link(rel='icon' sizes='any' type='image/svg+xml' href=getVersionedPath('/images/logo/science.svg'))
    link(rel='shortcut icon' type='image/x-icon' href=getVersionedPath('/images/logo/science.png'))
    link(rel='icon' sizes='16x16' type='image/png' href=getVersionedPath('/images/logo/science.png'))
    link(content="https://app-science.herokuapp.com/" rel="canonical")
    if typeof css !== "undefined"
      each style in css
        link(rel='stylesheet' href=getVersionedPath(style))
  body
    div.cover.load
      div.shade
      div.loader
    include ../components/header.pug
    main.main
      block content
    include ../components/footer.pug
    script(src=getVersionedPath('/js/jquery.min.js'))
    script(src=getVersionedPath('/js/main.min.js'))
    if typeof js !== "undefined"
      each scripts in js
        script(src=getVersionedPath(scripts) defer)
    script.
      var appCache = window.applicationCache, status;
      if('serviceWorker' in navigator) { //  && navigator.serviceWorker.controller.state != "activated"
        navigator.serviceWorker.register('worker.js')
          .then(console.log)
          .catch(console.error);
      }
      
      appCache.update(); // Attempt to update the user's cache.
      status = (function () {
        switch (appCache.status) {
          case appCache.UNCACHED: // UNCACHED == 0
            return 'UNCACHED';
            break;
          case appCache.IDLE: // IDLE == 1
            return 'IDLE';
            break;
          case appCache.CHECKING: // CHECKING == 2
            return 'CHECKING';
            break;
          case appCache.DOWNLOADING: // DOWNLOADING == 3
            return 'DOWNLOADING';
            break;
          case appCache.UPDATEREADY:  // UPDATEREADY == 4
            appCache.swapCache();  // The fetch was successful, swap in the new cache.
            return 'UPDATEREADY';
            break;
          case appCache.OBSOLETE: // OBSOLETE == 5
            return 'OBSOLETE';
            break;
          default:
            return 'UKNOWN CACHE STATUS';
            break;
        }
      }) ();
      
      // Check if a new cache is available on page load.
      window.addEventListener('load', function(e) {
        window.applicationCache.addEventListener('updateready', function(e) {
          if (status == 'UPDATEREADY') {
            // Browser downloaded a new app cache.
            if (confirm('A new version of this site is available. Load it?')) {
              window.location.reload();
            }
          } else { // Manifest didn't changed. Nothing new to server.
            console.log("No Cache Change.")
          }
        }, false);
      }, false);
